html
    box-sizing: border-box
    border-collapse: collapse
    line-height: 1
    font-family: sans-serif
*
    margin: 0
    padding: 0
    border-collapse: inherit

*, *:before, *:after
    box-sizing: inherit

*:not(body)
    background-repeat: no-repeat
    background-position: 50%
    background-size: cover

body
    position: relative

[hidden]
    display: none !important

ul, ol, menu
    list-style: none

a
    color: inherit

fieldset
    border: none